body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  transition: 0.6s;
  border: 0.5px solid black;
  border-radius: 10px;
  margin-left: 15px;
  height: 650px;
}
.single-product:hover {
  box-shadow: 7px 7px 10px rgba(2, 60, 168, 0.527);
  border-radius: 10px;
  border: 1px solid rgb(8, 46, 46);
}
.product-image {
  width: 150px;
  height: 200px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(2, 60, 168, 0.527);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgba(255, 229, 229, 0.685);
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
